<div id="wrapper" ng-controller="QuestionController">
  <div class="pageContent">    
    <img src="/assets/images/parties/c.png" />  
    <h1 class="partyHeader">Om Centerpartiet</h1>
    <div class="partyText">
      Alla människors lika värde och rättigheter är grunden för Centerpartiets politik. Var och en ska kunna växa som människa och ha möjlighet att förverkliga sina drömmar. Ansvar för varandra och för naturens ekosystem ska vara vägledande när samhället formas.
        Vartannat år hålls en stämma som beslutar om Centerpartiets organisation och politiska inriktning. Mellan stämmorna, finns det en partistyrelse som är utsedd att fatta de beslut som krävs för att verksamheten ska kunna jobba snabbt under året.
      Du som medlem i Centerpartiet, blir också en del av en krets. Vilken krets du tillhör beror på var du bor.
      Centerpartiet har också tre systerförbund. Centerstudenter, Centerpartiets ungdomsförbund och Centerkvinnorna. Är du medlem i något av de förbunden, har du också medlemsrättigheter i Centerpartiet.</div>
    Läs mer på <a href="https://www.centerpartiet.se/">https://www.centerpartiet.se/</a><br>  
    <button type="button" class="btn btn-primary">Delegera</button>    
  </div>
</div>