<div id="wrapper" ng-controller="QuestionController">
  <div class="pageContent">    
    <img src="/assets/images/parties/l.png" />
    <h1 class="partyHeader">Fem liberala grundbultar</h1>
    <div class="partyText">
      Politisk frihet och demokrati

      Varje människa har rätt till sin politiska övertygelse, sin religion och livsåskådning. Det viktigaste sättet att trygga denna frihet är demokratin. Den bygger på politisk frihet, allmän rösträtt och rättssäkerhet.

      Ekonomisk frihet och marknadsekonomi

      Alla ska ha rätt att välja yrke, konsumtion, bosättning och livsstil. Det viktigaste sättet att trygga denna frihet är marknadsekonomin. Den bygger på enskilt ägande, närings- och avtalsfrihet. Konsumenternas val styr produktionen. Marknadsekonomin är det enda ekonomiska system som går att förena med demokrati.

      Rättvisa och solidaritet

      Alla människor ska ha goda förutsättningar att utvecklas. Alla former av diskriminering måste därför bekämpas. De sämst ställdas villkor är alltid en viktig utgångspunkt för vårt arbete. I ett liberalt välfärdssamhälle bidrar stat, kommuner och frivilliga gemenskaper till alla människors trygghet och förankringar.

      Feminism och jämställdhet

      Liberal feminism handlar om kvinnors och mäns lika rätt till frihet, ansvar och makt. Det liberala uppdraget går ut på att frigöra individen från de begränsningar som bristande jämställdhet innebär, och bekämpa de attityder och föreställningar som ligger bakom.

      Internationalism och internationell solidaritet

      Liberaler är världsmedborgare. Människors rätt till frihet måste värnas oavsett var på jorden de befinner sig. Hunger och fattigdom måste bekämpas. Vi arbetar för global frihandel och en generös biståndspolitik. Vi vill stärka demokratin och marknadsekonomin i alla världens länder. Den liberala visionen är att fri rörlighet för individen ska vara en mänsklig rättighet. Alla ska tillåtas leva och verka där i världen som de själva vill.
    </div>
    Läs mer på <a href="https://www.liberalerna.se/">https://www.liberalerna.se/</a><br>    
    <button type="button" class="btn btn-primary">Delegera</button>
    <br><br><br><br><br><br>
  </div>
</div>