#logo {
  width:60%;
  padding: 10px 0;
  margin: auto;
}

.pageContent.parties ul, li {
  margin: 0 0 0 5px;
  padding: 0px;
}

.pageContent.parties li {
  list-style: none;
  float: left;
}

.pageContent.parties li:nth-child(odd) {
  clear: left;
}

.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  padding: 5px 0;
}

.nav-bottom li + li {
  margin-left: 0px;
}

.nav-bottom li a {
  text-align: center;
  background: black;
  color: #ecf0f1;
}

#tabs li a:hover,
#tabs li a:focus {
  background: #8BAECD;
  color: white;
}

#tabs ul{
  margin: 0 auto;
  width:310px;
}

.nav-bottom li.active a {
  background: black;
  color: #3498db;
}

.fillPage{
  margin: 10px;

.accordion-toggle:focus {
    outline: none; /* see if we can get this to look good with non disabled accessibility */
}
.panel-group h4 {
    font-size: 14px;
}